fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart
passlib[bcrypt]
bcrypt
python-jose
sqlalchemy
psycopg2-binary
torch
torchvision
timm
pillow
opencv-python
matplotlib
numpy
datasets
email-validator
